/* --------Dispositivos móviles------------ */
header {
  width: 100%;
  background-color: var(--blue-background);
  padding: 1rem 1.13rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mobile-logo {
  display: block;
}
.desktop-logo {
  display: none;
}

.buttons-circle {
  display: flex;
  gap: 1.3125rem;
  align-items: center;
}

.menu-lateral {
  display: none;
}

/* ----------- Media query para escritorio ------------- */
@media (min-width: 769px) {
  header {
    grid-area: 1 / 1 / 3 / 2;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2.9375rem;
  }
  .buttons-circle {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
  .desktop-logo {
    display: block;
    padding-bottom: 6.3125rem;
  }
  .menu-lateral {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
  }
}
